*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}


header {
  width: 95vw;
  height: 10vh;
  padding-bottom: 5px;
  color: white;
  border-radius: 5px;
  margin-bottom: 0%;
  display: flex;
  flex-flow: row;
/*
/*Para hacer que la cabecera florte sobre el contenido
  left: 0; /* Posicionamos la cabecera al lado izquierdo 
	top: 0; /* Posicionamos la cabecera pegada arriba 
	position: fixed; /* Hacemos que la cabecera tenga una posición fija 
  z-index: 5;
  */
}
header p{
  font-size: 2.5vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

header label{
  font-size: 2.5vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

header a{
  text-decoration: none;
  color: white;
}

header a:hover{
 color: #BFA36F;
}


header p:nth-child(2) {
font-weight: bold;
}

  body{
    background-image: url('../img/musica.jpeg');
  }

section{

  display: flex;
  flex: 100vw;
  max-width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;

  border-radius: 5px;
  color: white;
  height: 100vh;

}

section .linea{
  display: flex;
  flex: 100vw;
  max-width: 100vw;
  height: 0.5vh;
  flex-direction: row;
  background-color: aliceblue;
  border-radius: 10px;
}

section form {
  display: flex;
  flex:100vw;
  max-width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 40px;
  background-color: rgb(54, 57, 63);

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

section form p{
  display: flex;
  flex: 100vw;
  max-width: 100vw;
  flex-direction: row;
}

section form p input{

  width: 50vw;
  height: 5vh;
}

section form input:focus{
  border-radius: 5px;
border-color: #0477BF;
}

/*Botones*/

#iniciar{
  background-color: #0477BF;
  border-color: #0477BF;

  padding: 10px;
  color:white;
  border-radius: 2px;

  margin-left: auto;
  margin-right: auto;

  transition-duration: 1s;
}

#registrar{
  background-color: green;
  border-color: green;
}

#iniciar:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;

  border-radius: 20px;
}

#registrar:hover{
  transform: scale(1.1,1.1);
  cursor: pointer;
}


/*--footer--*/

footer{
  margin-top: 9vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #191919;
  max-width: 98vw;
  height: 40vh;
  border-radius: 10px;
}
footer p{
  display: flex;
  flex: 100vw;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;

  font-size: 2.5vh;


}
footer p a{
  display: flex;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: white;
  font-weight: bold;

  margin-left: auto;
  margin-right: auto;

  transition-duration: 1s;
}

footer div{
  display: flex;
  flex-direction: row;
  flex: 100vw;
  max-width: 100vw;
}

footer div a{
  display: flex;
  flex-direction: row;
  flex: 20vw;
  max-width: 20vw;
  margin-left: auto;

  transition-duration: 1s;
  font-size: 2.5vh;
}

footer div a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header p:hover{
  color:#BFA36F;
}

footer a:hover{
  color:#BFA36F;
  transform: scale(1.1,1.1);
}

#form_escritorio{
  display: none;
}

#saludo{
  position: relative;
  color: rgb(5, 187, 187);
  font-size: 4vh;
  text-align: center;
}


/*Tablet*/
@media (min-width: 800px){


  body{
    background-image: url('../img/musica.jpeg');
  }

  #form_escritorio{
    display: none;
  }

header{
  display: flex;
  flex: 100vw;
  background-color: transparent;
}

section{
  display: flex;
  flex: 100vw;
  max-width: 100vw;
  background-color: transparent;
}

section article button{
  flex: 40vw;
  max-width: 40vw;
}


  /*Quitamos el formulario de movil*/

  section form {
    display: flex;
    flex:80vw;
    max-width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
  
    padding: 40px;
    background-color: rgb(54, 57, 63);
  
    margin: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
  
    border: aqua solid 2px;

  }

  footer{
    margin-top: 40vh;
    border: none;
  }

  #saludo{
    position: relative;
    color: rgb(5, 187, 187);
    font-size: 8vh;
  }

}


@media (min-width: 1000px){


  body{
    background-image: url('../img/musica.jpeg');
  }

  header{
    display: flex;
    flex:100vw;
    max-width: 100vw;

    background-color: transparent;
  }

  section{
    background-color: transparent;
  }

  #form_escritorio{
    flex: 40vw;
    max-width: 40vw;

    border: aqua solid 2px;
    margin: 5vh;
  }

  input[type="text"],  input[type="password"],   input[type="date"] {
    width: 33vw;
    height: 2.5rem;
  }


  footer{

    flex: 98vw;
    max-width: 98vw;
    margin-top: 40vh;

    height: 40vh;
    border: none;
    border-radius: 10px;
  }

  #form_escritorio{
    display: flex;
  }

  #form_movil{
    display: none;
  }


  #iniciar{
    width: 35rem;
  }

  #saludo{

      position: absolute;
      top: 18vw;
      right: 9vw;

      font-size: 8vh;
      width: 35vw;
      color: rgb(5, 187, 187);

  }
 
  }

