*{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Righteous', cursive;
  box-sizing: border-box;
}


body{
  background-color: #191919;
 }


header {
  width: 95vw;
  height: 10vh;
  padding-bottom: 5px;
  color: white;
  border-radius: 5px;
  margin-bottom: 0%;
  display: flex;
  flex-flow: row;
/*
/*Para hacer que la cabecera florte sobre el contenido
  left: 0; /* Posicionamos la cabecera al lado izquierdo 
	top: 0; /* Posicionamos la cabecera pegada arriba 
	position: fixed; /* Hacemos que la cabecera tenga una posición fija 
  z-index: 5;
  */
}
header p{
  font-size: 2.5vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

header label{
  font-size: 2.5vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

header a{
  text-decoration: none;
  color: white;
}

header a:hover{
 color: #BFA36F;
}


header p:nth-child(2) {
font-weight: bold;
}


section{

  display: flex;
  flex: 100vw;
  max-width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;

  border-radius: 5px;
  color: white;


}

section .linea{
  display: flex;
  flex: 100vw;
  max-width: 100vw;
  height: 0.5vh;
  flex-direction: row;
  background-color: aliceblue;
  border-radius: 10px;
  margin-bottom: 2vh;
}


section article{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 100vw;
  max-width: 100vw;
}

section article img{
  display: flex;
  flex: 90vw;
  max-width: 90vw;
  height: 45vh;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 10px;
}

section #noticia{
  padding-bottom: 30px;
  border-bottom: 2px white solid;
}


section #noticia h1{
  display: flex;
  flex: 90vw;
  max-width: 90vw;
  flex-direction: row;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  color: rgb(12, 149, 235);
  font-size: 3vh;
}

section #noticia h3{
  display: flex;
  flex: 90vw;
  max-width: 90vw;
  flex-direction: row;

  margin-left: auto;
  margin-right: auto;
  font-size: 1.8vh;
}

section #noticia p{
  display: flex;
  flex: 90vw;
  max-width: 90vw;
  flex-direction: row;

  margin-left: auto;
  margin-right: auto;
}

section #comentarios{
  flex: 90vw;
  max-width: 90vw;


  background-color: rgb(54, 57, 63);
  border-radius: 10px;
  padding: 30px;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
}

section #comentarios #indicacion{

  display: flex;
  flex: 80vw;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;

  color:  rgb(12, 149, 235);

}

section #comentarios textarea{
  display: flex;
  flex: 80vw;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
  padding: 10px;

  transition-duration: 1s;
}

section #comentarios textarea:focus{
  border-color:  rgb(12, 149, 235);
}

section #comentarios #enviar_comentario{
  display: flex;
  flex: 2vw;
  flex-direction: column;
  max-width: 8vw;
  margin-top: 0.5vw;
  margin-left: auto;
  margin-right: 0.5vw;

  border-radius: 2px;
  height: 4vh;
  font-size: 2vh;

  text-align: center;
  border: none;
  background-color:  rgb(12, 149, 235);
  color: white;
  padding: 5px;
  padding-top: 10px;
  
  transition-duration: 1s;
}

section #comentarios #enviar_comentario:hover{
  cursor: pointer;
  background-color: white;
  color:  rgb(12, 149, 235);

  border-radius: 50px;
}


section .comentario{

  display: flex;
  flex: 80vw;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80vw;

  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 2px white;

}

section .comentario p{
  display: flex;
  flex: 80vw;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

section .comentario p .user{
  display: flex;
  flex: 10vw;
  max-width: 10vw;
  color: rgb(12, 149, 235);
}

section #comentarios .comentario .desc_comen{
display: flex;
flex: 75vw;
max-width: 75vw;

}

section #comentarios .comentario button{
  background-color: inherit;
  color: white;
  border: none;
  font-size: 1.8vh;

  transition-duration: 1s;
}

section #comentarios .comentario .responder{
  margin-left: auto;
}

section #comentarios .comentario .like{
  margin-right: 1vw;
}

section #comentarios .comentario button:hover{
  cursor: pointer;
  color:  rgb(12, 149, 235);
}

.no_comen{
  display: flex;
  flex-direction: row;
  flex: 100vw;
  max-width: 100vw;
  height: 1px;
}


.contenido{
  background-image: url("../img/audio4.png");

  display: flex;
  flex: 90vw;
  flex-flow: row;
  font-size: 1em;
  max-width: 90vw;
  padding: 40px;
  flex-wrap: wrap;


  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  transition-duration: 1s;

  color: black;
}


.contenido:hover{
  transform: scale(1.05,1.05);
  cursor: pointer;
}

.contenido p{
  display: flex;
  flex: 100vw;
  max-width: 100vw;
  margin-left: auto;
  margin-bottom: 0;
  font-weight: bold;
}

.contenido #linea{
  display: flex;
  flex: 100vw;
  max-width: 100vw;
}

.contenido button{
  background-color: inherit;
  color: white;
  border: none;
  margin: 2vw;
  margin-top: 5vh;
}

.contenido button:hover{
  cursor: pointer;
  color: #191919;
}

.contenido{
  max-width: 85vw;
  margin-bottom: 5vw;
}

.contenido audio{
  margin-top: 40vh;
  margin-left: auto;
  margin-right: 0;
}

.cont_btn_usu{
  display: flex;
  flex-direction: row;
  flex: 100vw;
  max-width: 100vw;
  flex-wrap: wrap;
}

.to_usuario_btn{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 20vw;
  max-width: 50vw;

  margin-left: auto;
  background-color: rgb(12, 149, 235);
  border: none;
  color: white;
  padding: 15px;
  border-radius: 5px;

  transition-duration: 1s;

}

.to_usuario_btn:hover{
  cursor: pointer;
  border-radius: 50px;
  animation-name: example;
  animation-duration: 2s;
}

/* The animation code */
@keyframes example {
  0%   {background-color: white;}
  25%  {background: pink;}
  50%  {background: #0477BF;}
  100% {background:  rgb(191, 12, 236);}
}


@media (min-width: 800px){
/*
  body{
    background-color: black;
  }
*/
}

@media (min-width: 1000px){


  section article{
    padding: 50px;
  }

  section #noticia{
    flex:80vw;
    max-width: 80vw;
  }

  section #noticia{
    flex: 65vw;
    max-width: 65vw;
  }

  section #noticia img{
    flex: 50vw;
    height: 70vh;
    max-width: 50vw;
  }

  section #comentarios{
  
    position: absolute;
    width: 30vw;
    top: 4vh;
    right: 0.4vw;

height: 100vh;
    background-color: #191919;
    border-radius: 0px;
    overflow: scroll;
  }

  section .comentario{

    flex: 90vw;
    max-width: 90vw;
    background-color: #191919;
  }

  section .comentario p .user{
    flex: 4vw;
    max-width: 4vw;
  }

  section #comentarios .comentario .desc_comen{
    flex: 50vw;
    max-width: 50vw;
  }

  .contenido{
    max-width: 42.2vw;
  }

  .contenido audio{
    margin-top: 33vh;
    margin-left: auto;
  }

}